<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Angular demo</title>  	
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/bootstrap.css"> 
</head>
<body>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span8">
				<h2>Building <a href="http://angularjs.org/">AngularJS</a> powered <a href="http://wicket.apache.org/">Wicket</a> based WEB applications</h2>
				<p>
					By: <a href="mailto:reiern70@gmail.com">Ernesto Reinaldo Barreiro</a>. (05-March-2013).
				</p>
				<section id="introduction">
					<h3>Introduction</h3>
					<p>
						The purpose of this small article/demo is to show/explore how Wicket and AngularJS could be used together to 
						create very responsive-fast loading UIs... and at the same time still use strong Wicket OO 
						approach on server side. We will neither describe/explain AngularJS nor Wicket. 												 				
					</p>
					<p>
						For a brief introduction to Angular JS read the tutorial in <a href="http://docs.angularjs.org/tutorial/">here</a>.
					</p>
					<p>
						<b>Disclaimer</b>. My knowledge of Angular JS is still very elementary, so some of the things I say/do could surely be done 
						in a better/proper "Angular" way.
					</p>
					<p>
						<b>Source code:</b> All the code of this small demo/tutorial can be found at my <a href="https://github.com/reiern70/antilia-bits/tree/master/wicket-angular-parent">GitHub account</a>.
					</p>					
				</section>
				<section id="listview">
					<h3>Angular powered <b>list-view</b></h3>
					<p>
						We start by rolling out an Angular powered <b>list-view</b>. The code of this "framework class"
						can be seen <a href="https://github.com/reiern70/antilia-bits/blob/master/wicket-angular-parent/wicket-angular/src/main/java/com/antilia/angular/repeater/AngularListView.java">here</a>.
						This class acts as: 
					</p>
						<ol>
							<li>
								A repeater receiving a list of objects, of some kind, and an interface
								<a href="https://github.com/reiern70/antilia-bits/blob/master/wicket-angular-parent/wicket-angular/src/main/java/com/antilia/angular/repeater/IJSONifier.java">IJSONifier</a>
								that knows how to translate those objects into JSON. 
								<pre class="code language-java">								
public interface IJSONifier&lt;B> extends Serializable {	

	String toJSON(B bean);

	B formJSON(String json);
}
								</pre>								
								This JSON could be 
								either served with the list view "HTML" or lazily loaded once the angular component 
								is initialized at client side (or read from any URL on your application: e.g. a mounted 
								resource). 
							</li>
							<li>
								The list of objects will be available at client side as an array of JSON objects 
								assigned to the (scoped) variable $scope.elements. (You can read about Angular scopes <a href="http://docs.angularjs.org/api/ng.$rootScope.Scope">here</a>).
							</li>							
							<li>
								The server side HTML template (<b>AngularListView.html</b>) for AngularListView  is  
								<pre class="code language-html">
&lt;wicket:panel>
  &lt;ul>
    &lt;li ng-repeat="element in elements">
		&lt;wicket:child/>
    &lt;/li>
  &lt;/ul>
&lt;/wicket:panel>									
								</pre>
								So, it will generate a client side angular HTML "template" which will make Angular cycle over 
								all elements in <b>elements</b> array. So, you implement and AngularListView by 
								sub-classing  AngularListView (in the Wicket sense).
							</li>
						</ol>						
				</section>
				<section>
					<h3>Basic example</h3>
					<p>
						Let's clarify/explain previous section with a very basic example. 
						We start by creating a <b>BasicPersonListView</b> class					
					</p>
					<pre class="code language-java">
public class BasicPersonListView extends AngularListView&lt;Person> {

	private static final long serialVersionUID = 1L;

	public BasicPersonListView(String id, boolean lazy) {
		super(id, WicketApplication.PERSONS, PersonsJSonifier.getInstance(), "Persons", lazy);
	}
	
}					
					</pre>					
					<p>
					where <b>WicketApplication.PERSONS</b> is a list of Persons and <a href="https://github.com/reiern70/antilia-bits/blob/master/wicket-angular-parent/wicket-angular-demo/src/main/java/com/antilia/angular/example/PersonsJSonifier.java">PersonsJSonifier</a>
					is the IJSONifier for <a href="https://github.com/reiern70/antilia-bits/blob/master/wicket-angular-parent/wicket-angular-demo/src/main/java/com/antilia/angular/example/Person.java">Person</a> class.					
					The HTML template (<b>BasicPersonListView.html</b>) looks like:
					</p>
					<pre class="code language-html">
&lt;wicket:extend>
	{{element.name}}-{{element.lastName}}
&lt;/wicket:extend>						
					</pre>
					<p>
					Then we just use this <b>BasicPersonListView</b> as in
					</p>
					<pre class="code language-java">
public class BasicListViewPage extends WebPage {

	private static final long serialVersionUID = 1L;

	public BasicListViewPage() {
		add(new BasicPersonListView("persons", false));
	}
}
					</pre>
					<p>
					with HTML template.
					</p>					
					<pre class="code language-html">
&lt;body>
&lt;div wicket:id="persons">&lt;/div>
&lt;/body>
					</pre>
					<p>
						The result can be seen <a wicket:id="basic" >here</a>. 
					</p>
					<p>
						<b>How this example works?</b>
					</p>
					<ol>
						<li>
							<a href="https://github.com/reiern70/antilia-bits/blob/master/wicket-angular-parent/wicket-angular/src/main/java/com/antilia/angular/repeater/AngularListView.java">AngularListView</a> 
							will generate the angular "scope"
							<pre class="code language-javascript">
function Persons ($scope, $http ) {
	$scope.elements = [{"id":"0","name":"Martina","lastName":"Zaviola","age": 42,"email":"Martina.Zaviola@mycompnay.com","img":"http://www.gravatar.com/avatar/bfaa144388f243e1b5b4472a014f13e1.jpg?s=30&d=monsterid","registered":"06-01-1970"},...];
	// selected row.
	$scope.selected=null;
	$scope.selectRow = function(id) {
		$scope.selected = id;
		var args = {'selected': $scope.elements[id].id};
		var event = 'Persons-' + 'RowSelected';
	$scope.$emit(event, args);
	};
} 								
							</pre>
						</li>
						<li>
							Previous <b>Persons</b> scope  will be bound (on client) to the HTML 
							<pre class="code language-html">
&lt;div id="persons7" class="ng-scope" ng-controller="Persons" wicket:id="persons">
	&lt;ol ng-repeat="element in elements">
		&lt;li>
			{{element.name}}-{{element.lastName}}.
		&lt;/li>
	&lt;/ol>
&lt;/div>							
							</pre> 
							Angular will do the "job" of iterating over <b>$scope.elements</b> and generating client side markup.
						</li>
					</ol>					
				</section>
				<section>
					<h3>Loading elements lazily</h3>
					<p>	
						Loading elements lazily (after Angular initializes the page) is very easy. Just pass
						a lazy flag equal <b>true</b> to BasicPersonListView.
					</p>
					<pre class="code language-java">
public class BasicListViewLazyPage extends WebPage {


	public BasicListViewLazyPage() {
		add(new BasicPersonListView("persons", true));
	}
}						
					</pre>
					<p>
						You can see this at work <a wicket:id="basiclazy" >here</a>.
						Mind that after page is loaded an additional (Angular) AJAX  request is issued to fetch the JSON
						used to populate the list view (at client side).  
					</p>
					<p>
						<b>Note:</b> Class <b>AngularListView</b>  will take care of the details for your. 
						What it does is:						 
					</p>
					<ol>
						<li>
							AngularListView implements IResourceListener and uses this interface as context to serve the JSON. If you are interested in the details 
							see private class <b>AngularListView#JSONListHandler</b> and how it is used.														
						</li>
						<li>
							At client side AngularListView will generate a scope like this 
						<pre class="code language-javascript">
function Persons ($scope, $http ) {
	$http.get('./?-IResourceListener-persons&_jonsData=true').success(function(data) {$scope.elements = data;});;;
...
} 						
						</pre>						
							That will trigger the loading of JSON after page has been loaded.
						</li>
					</ol>
				</section>	
				<section>
						<h3>Using Angular to do some client side filtering/sorting</h3>					
						<p>	
							Let's use some Angular magic to do some fun stuff at client side!  
						</p>
						<p>
							We start by modifying PersonsListView so that it also contains some
							client side filtering properties and some cosmetic CSS.
							We do so by "overriding" base markup, instead of extending the base markup.
							This file, <b>PersonsListView.html</b>, looks as follows:  
						</p>
						<pre class="code language-html">
&lt;wicket:panel>
&lt;div class="container-fluid">
  &lt;div class="row-fluid">
    &lt;div class="span2"> 	    
 	&lt;p>
      &lt;label>&lt;wicket:message key="search"/>&lt;/label> &lt;input ng-model="query">
    &lt;/p>  
    &lt;p>
    	&lt;label>&lt;wicket:message key="sortBy"/>&lt;/label>
		&lt;select ng-model="orderProp">
			&lt;option value="name">&lt;wicket:message key="name"/>&lt;/option>
			&lt;option value="lastName">&lt;wicket:message key="lastName"/>&lt;/option>
		    &lt;option value="age">&lt;wicket:message key="age"/>&lt;/option>
		    &lt;option value="registered">&lt;wicket:message key="registered"/>&lt;/option>
		&lt;/select>
 	&lt;/p>
    &lt;/div>
    &lt;div class="span10">
	  &lt;h2 class="persons">Persons&lt;/h2> 
      &lt;div class="persons">
		&lt;table>    
			&lt;thead>
			&lt;tr>
	      	  &lt;th>
	          	&lt;wicket:message key="id"/>
	          &lt;/th>
	          &lt;th>
	          	&lt;wicket:message key="name"/>
	          &lt;/th>
	          &lt;th>
	          	&lt;wicket:message key="lastName"/>
	          &lt;/th>
			  &lt;th>
	          	&lt;wicket:message key="image"/>
	          &lt;/th>
			  &lt;th>
	          	&lt;wicket:message key="age"/>
	          &lt;/th>	
			  &lt;th>
	          	&lt;wicket:message key="registered"/>
	          &lt;/th>
	        &lt;/tr>
				
			&lt;/thead> 
	      	&lt;tbody>
	      	&lt;tr ng-repeat="person in elements | filter:query | orderBy:orderProp" ng-class-odd="'odd'" ng-class-even="'even'">
	      	  &lt;td>
	          	{{person.id}}
	          &lt;/td>
	          &lt;td>
	          	{{person.name}}
	          &lt;/td>
	          &lt;td>
	          	{{person.lastName}}
	          &lt;/td>
	          &lt;td>
	          	&lt;img ng-src="{{person.img}}"/>
	          &lt;/td>
			  &lt;td>
	          	{{person.age}}
	          &lt;/td>
	          &lt;td>
	          	{{person.registered}}
	          &lt;/td>
	        &lt;/tr>
        	&lt;/tbody>         
      	&lt;/table>		
      &lt;/div> 
    &lt;/div>
  &lt;/div>
&lt;/div>
&lt;/wicket:panel>						
					</pre>
					<p>
						The key points to remark here are:						
					</p>	
					<ol>
						<li>
							The HTML code
							<pre class="code language-html">
	&lt;p>
      &lt;label>&lt;wicket:message key="search"/>&lt;/label> &lt;input ng-model="query">
    &lt;/p>  
    &lt;p>
    	&lt;label>&lt;wicket:message key="sortBy"/>&lt;/label>
		&lt;select ng-model="orderProp">
			&lt;option value="name">&lt;wicket:message key="name"/>&lt;/option>
			&lt;option value="lastName">&lt;wicket:message key="lastName"/>&lt;/option>
		    &lt;option value="age">&lt;wicket:message key="age"/>&lt;/option>
		    &lt;option value="registered">&lt;wicket:message key="registered"/>&lt;/option>
		&lt;/select>
 	&lt;/p>							
							</pre>
							creates some client side filters. Those filters are used on 
							<pre class="code language-html">
   	&lt;tr ng-repeat="person in elements | filter:query | orderBy:orderProp" ng-class-odd="'odd'" ng-class-even="'even'">
	      	  &lt;td>
	          	{{person.id}}
	          &lt;/td>
	          &lt;td>
	          	{{person.name}}
	          &lt;/td>
			  ...
	&lt;/tr>		  	          							
							</pre>	
							to filter the iterated list.											
						</li>
						<li>
							We are using Wicket to generate the client side "angular template". So, all 118n and so on is generated by 
							Wicket. 
						</li>
						<li>
							Our new <b>PersonsListView</b> class just contains an additional overriden method
						<pre class="code language-java">
public class PersonsListView extends AngularListView&lt;Person> {
	
	...
	
	@Override
	protected void contributeToScope(StringBuilder scope) {
		scope.append("$scope.orderProp = 'age';\n");
	
	}
}						
						</pre>						
						This is used to initialize the "sorting filter" <b>orderProp</b> to be "age" when 
						page is initially loaded.
						</li>
					</ol>
					<p>
						The result can be seen in action <a wicket:id="filtering">here</a>
					</p>				
				</section>
				<section>
					<h3>Doing stateless AJAX with the help of Angular.</h3>
					<p>
						Many users "complain" about how  difficult it is to create stateless-rich-AJAX pages 
						with Wicket. In the next example we will build a master-detail page using Angular,
						JSON based, AJAX approach and at the same time keep everything clean and "componentized" 
						at Wicket side.
					</p>
					<p>
						The general idea driving this example is as follows.						
					</p>
					<ol>
						<li>
							We will have a <b>personsContext</b> Angular scope that will have a 
							<b>persons</b> (list) sub-scope and a persons <b>detais</b> sub-scope. 
							In HTML
							<pre class="code language-java">
  &lt;div wicket:id="personsContext" class="row-fluid">  
  	&lt;div wicket:id="persons">&lt;/div>
  	&lt;div wicket:id="details" class="span2 PersonDetail" ng-show="element != null" ng-cloak>
    &lt;/div>
  &lt;/div>
							</pre>
						</li>
						<li>
							Persons-list scope will fire (see <a href="http://docs.angularjs.org/api/ng.$rootScope.Scope">emit</a>) some client side Angular event (with name "Persons-RowSelected").
							This event will have info on the row selected. Then personContext scope  will listen to this 
							event and broad cast a new one ("Persons-RowSelected-1") to "PersonDetails" scope. 
						</li>
						<li>
							Uppon receiving "Persons-RowSelected-1" Persons details panel will 
							use Angular AJAX functionality to ask sever side for JSON details about 
							the selected person. 
						</li>
					</ol>
					<p>
						It might sound complicated but it is all nicely encapsulated in this Java code.												
					</p>
					<pre class="code language-java">
public class StatelessMasterDetailPage extends WebPage {

	public StatelessMasterDetailPage(final PageParameters parameters) {
		super(parameters);
		
		AngularWebMarkupContainer personsContext = new AngularWebMarkupContainer("personsContext", "PersonsContext");
		
		personsContext.addHandler(new EventBroadcasterHandler("PersonsList-RowSelected","PersonsList-RowSelected-1"));

		add(personsContext);
		
		personsContext.add(new PersonsAngularListView("persons", "PersonsList", false));
		
		personsContext.add(new PersonDetails("details", "PersonDetails", PersonsJSonifier.getInstance()));		
    }
}						
					</pre>
					<p>
						Where PersonDetails class is
					</p>		
					<pre class="code langaue-java">
public class PersonDetails extends AngularPanel {
	
	private PersonsJSonifier personsJSonifier;
	
	public PersonDetails(String id, String scope, PersonsJSonifier personsJSonifier) {
		super(id, scope);
		this.personsJSonifier = personsJSonifier;
	}

	@Override
	protected void onInitialize() {
		super.onInitialize();
		
		addHandler(new OnUpdateEventHandler&lt;Person>("PersonsList-RowSelected-1") {

			private static final long serialVersionUID = 1L;

			@Override
			protected Person getElement(Long id) {
				return WicketApplication.getApplication().getPersonService().find(id);
			}

			@Override
			protected String getJSON(Person bean) {
				return personsJSonifier.toLONGJSON(bean);
			}
			
		});
	}
	
}					
					</pre>			
					<p>
					and <b>PersonDetails.html</b> is like
					</p>
					<pre class="code langaue-html">
	&lt;wicket:panel>
 	&lt;h1>{{element.name}} {{element.lastName}} &lt;/h1>
 	&lt;div>
 		&lt;img ng-src="{{element.bimg}}">
 	&lt;/div>
 	&lt;div style="clear: both;">&lt;/div>
 	&lt;ol>
 		&lt;li>&lt;b>Email:&lt;/b> {{element.email}}&lt;/li>
		&lt;li>&lt;b>Profile:&lt;/b> {{element.ld}}&lt;/li>
 	&lt;/ol>
 	&lt;/wicket:panel>					
					</pre>
					<p>	
						The only change required for <b>PersonsListView.html</b> is
					</p>
					<pre class="code language-html">
&lt;a href="javaScript:void(0);" ng-click="selectRow(person.id);">{{person.id}}&lt;/a>					
					</pre>
					<p>
						So that "row-selected" event is triggered when user clicks on link at first column (of a row).
					</p>
					<p>
						The result can be seen in action <a wicket:id="stateless">here</a>
					</p>
				</section>	
							
				<section>
					<h3>Additional examples</h3>
					<p>
						Some un-commented examples can be found at
					</p>
					<ol>
						<li>		
							<a wicket:id="link1">Example of master-detail using modal window</a>
						</li>
						<li>
							<a wicket:id="link2">
							Example of master-detail using modal window and JSON served from a mounted 
							resource </a>			
						</li>
					</ol>
				</section>
				
				<section>
					<h3>TODO-Ideas</h3>
					<ol>
						<li>		
							It would be interesting to create components similar to AjaxFallbackDataTable but angular based.
						</li>
						<li>		
							Would it make sense to introduce an angular based AJAX request target? Override/extend wicket machinery for Angular?
						</li>
						<li>
							Does it make sense to integrate <a href="http://angular-ui.github.com/">http://angular-ui.github.com/</a>? They even have support for Igor's select2.
						</li>
						<li>
							Explore Angular forms and see how to integrate them with Wicket.
						</li>
						<li>
							In this article we have explored how to use a Wicket page as "a service" for Angular client side machinery. 
							This has the "limitation" of page access synchronization. So, if this limitation want to be avoided 
							probably mounted resources (or other means) should be used to serve JSON.
						</li>
					</ol>
				</section>
			</div>
		</div>		
	</div>	
</body>
</html>
