<!doctype html>
<html ng-app>
  <head>
    <script src="http://code.angularjs.org/1.0.5/angular.min.js"></script>
    <script type="text/javascript">
    function ListController($scope, $rootScope) {
    	  $scope.select = function(index) {
    		  var args = {'selected': index};
    		  $rootScope.$broadcast("RowSelected", args);
		 };
    }
    
    function DetailController($scope, $rootScope) {
		$scope.selected = null;    	  
  	  	$scope.$on("RowSelected", function(event, args) {
  	  		$scope.selected	 = args['selected'];
  	  		alert(args['selected']);
  	  	});
  	  	
	}
    
    </script>
  </head>
  <body>
    <div ng-controller="ListController">
          <ul>
            <li ng-repeat="item in [1, 2, 3, 4]">
              <button ng-click="select($index);">{{item}}</button>
            </li>
          </ul>
    </div>
    <div ng-controller="DetailController">
    	{{selected}}
    </div>
  </body>
</html>