/* app css stylesheet */

body {
  padding-top: 20px;  
  font-family: "Verdana";
  font-size: 12pt !important;
}

p {
	font-size: 1.0em !important;
}

section {
	border-top: 1px solid graytext;	
}

h3, h2, .code {
	margin-bottom: 10px !important;
	margin-top: 10px !important;
}

section h3, section h2 {
	background: graytext !important;
	padding-left: 10px;
}

h2.persons {
 	width: 620px; 	
 	text-align: center;
 	font-weight: 1.2em;			
 	margin-bottom: 10px;
}

.persons .odd {
	background-color: graytext;
	color: white;
}

.persons .odd a {
	color: white;
}

div.persons  {
	border: 1px solid graytext;
}

div.persons {
	height: 400px;
	width: 600px;
	overflow: auto;	
}

div.persons table {
	width: 100%;
}

.PersonDetail img {
	float: right;
}
