/* app css stylesheet */

body {
  padding-top: 20px;
}

h2.persons {
 	width: 620px; 	
 	text-align: center;
 	font-weight: 1.2em;			
 	margin-bottom: 10px;
}

.persons .odd {
	background-color: graytext;
	color: white;
}

.persons .odd a {
	color: white;
}

div.persons {
	height: 400px;
	width: 600px;
	overflow: auto;	
}

div.persons table {
	width: 100%;
}
